body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to bottom left, #e4b50e, #8700fe); */
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main-block {
  width: 300px;
  height: 450px;

  background-color: aliceblue;
  border-radius: 30px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.quest {
  color: aliceblue;
  background: linear-gradient(to bottom left, #ff0000, #2600fe);
  padding: 10px;
  border-radius: 30px 0px;
  text-transform: uppercase;
  text-align: center;
}
.option {
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.choice {
  border: 2px solid rgb(193, 189, 189);
  border-radius: 10px;
  padding: 5px;
  font-weight: 300;
}
.choice:hover {
  background-color: #e5e4e6;
  font-weight: 600;
  cursor: pointer;
}
/* .next-bt {
  margin-top: 30px;
} */
.next-bt button {
  padding: 2px 10px;
  font-size: 25px;
  border-radius: 20px;
  border: none;
  background: #d11768;
  background: radial-gradient(
    circle,
    rgb(255, 3, 112) 0%,
    rgb(30, 102, 184) 100%
  );
  color: #f2f2f2;
  font-weight: 800;
  cursor: pointer;
  font-family: monospace;
}
.style {
  color: #ff0000;
}
.score {
  border: 4px solid #2600fe;
  padding: 2px 20px;
  font-size: 20px;
  font-weight: 600;
  height: 100px;
  text-align: center;
  width: 200px;
}
.final-box {
  /* height: 10px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.again-bt {
  padding: 5px 20px;
  font-size: 17px;
  color: #d25f91;
  background-color: rgb(20, 20, 20);
  font-weight: 700;
  border: none;
  border-radius: 10px;
}
.again-bt:hover {
  background-color: rgb(202, 197, 197);
  color: black;
}
